/* css for the header, media query is used so that the page becomes responsive */

.flex-container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#4d4dff;
    height: 15vh;
    padding-left: 2%;/*5vh;*/  
    width:auto;
}
.LogoImg{
    height: 13vh;
}
.image{
    align-self: center;

}
.flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading{
    align-self: center;
    color: white;
    font-size: 5vh;
    font-weight: normal;
}

.accIcon{
    padding: 5vh 5vh 5vh 5vh;
}

.fa-user-circle{
    background-color: white;
    color: black;
    border-radius: 50%;
}

@media all and (max-width: 830px) {
    .LogoImg{
        height: 10vh;
    }
    .flex-container1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color:#4d4dff;
        padding-left: 2%;/*5vh;*/  
        width:100%;
    }
    .flex-container3{
        display: flex;
        flex-direction: column;
    }
    .heading{
        align-self: center;
        font-size: 3vh;
        font-weight: normal;
    }
}